img{
    width:50px;
    height: 50px;
}

.title{
    display: flex;
    align-items: center;
}

input, 
.add{
    width: 250px;
    height: 30px;
    font-size: 1.5rem;

}

.list{
    margin: 20px;
}

.calculate{
    width: 150px;
    height: 25px;
    background-color: black;
    color: azure;
    font-weight: bold;
}

.calculate,
.add{
    cursor:pointer;
}